.item-vertical-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-content-box-index{
    height: 150px;
    border-style: solid;
    border-color: #d7d7d7;
}

.topic-content-box-detail{
    height: auto;
    border-style: solid;
    border-color: #d7d7d7;
}

.replay-content-box-detail{
    height: auto;
    border-style: solid;
    border-color: #d7d7d7;
    border-width: 1px;
    padding: 10px;
}

.text-max-line-2{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.info-page{
    background-color: #f6f7fb;
    border-style: solid;
    border-color: #f6f7fb;
    height: 550px;
    margin: 20px;

}

.hr25{
    height: 25px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.replay-in-detail{
    padding: 10px;
}

.replay-form-box{
    background-color: #ffffff;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 200px;
    z-index: 99;
}

.replay-form-body{
    background-color: #f6f7fb;
    height: 100%;
}



.style-three{/*渐变*/
    width:80%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 30px;
}

.login-and-register-page-body{
    background-image: url("static/image/1.jpg");
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*	min-width: 1000px;*/
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
}