<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
</head>
<body>
<div class="container-fluid">

<!--    头部导航栏-->
    <div class="row clearfix" th:fragment="top-bar(activeUri)">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" th:href="@{/}">NCUBBS</a>
                </div>

<!--                三个区域板块-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li th:class="${activeUri}=='topic.html'?'active':' '">
                            <a href="/topic">讨论区</a>
                        </li>
                        <li th:class="${activeUri}=='article.html'?'active':' '">
                            <a href="/article">文章区</a>
                        </li>
                        <li th:class="${activeUri}=='reward.html'?'active':' '">
                            <a href="/reward" >悬赏区</a>
                        </li>
                    </ul>
<!--                    搜索功能-->
                    <form class="navbar-form navbar-left" role="search" action="/search" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="str" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!--右侧功能-->
                    <ul class="nav navbar-nav navbar-right">
                        <li id="admin-li" th:if="${isAdmin}">
                            <a href="/manage">管理功能</a>
                        </li>
                        <li>
                            <a th:href="@{/}">首页</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/new/topic">发布讨论</a>
                                </li>
                                <li>
                                    <a href="/new/article">发布文章</a>
                                </li>
                                <li>
                                    <a href="/new/reward">发布悬赏</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">我发布的</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li >
                            <a href="/login" >登入/注册</a>
                        </li>
                        <li>
                            <a href="/quit">退出</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>


    <div class="row clearfix">
<!--        左侧个人信息栏-->
        <div class="col-md-3 info-page" th:fragment="showUserInfo">
<!--            放个人信息-->
            <span class="text-center">个人信息展示页</span>
        </div>


<!--        展现区，切换板块只换这里的内容-->
        <div class="col-md-7" >
            <h1>欢迎来到BBS论坛</h1>
        </div>

    </div>
</div>

<!--<span th:text="${isAdmin}" id="isAdmin" hidden></span>-->

<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>