<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
</head>
<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">NCUBBS</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">讨论区</a>
                        </li>
                        <li>
                            <a href="#">文章区</a>
                        </li>
                        <li>
                            <a href="#">悬赏区</a>
                        </li>
                    </ul>
<!--                    搜索功能-->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!--右侧功能-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布/我的<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/topic.html}">发布讨论</a>
                                </li>
                                <li>
                                    <a href="#">发布文章</a>
                                </li>
                                <li>
                                    <a href="#">发布悬赏</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">我发布的</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">退出</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="row clearfix">

<!--        左侧个人信息栏-->
        <div class="col-md-3 column">
<!--            放个人信息-->
            <span class="text-center">个人信息展示页</span>
        </div>

<!--        -->
        <div class="col-md-7 column">

<!--            置顶区-->
            <div class="container-fluid">

            </div>

<!--            普通帖子区-->
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <h2 >
                            Heading
                        </h2>
                        <p >
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                    </div>
                    <div class="col-md-4 row-vertical-center">
                        <div class="row clearfix row-vertical-center">
                            <em >
                                发表人
                            </em>
                            <p>
                                2019-12-17 8：17
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<link  th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}" rel="stylesheet">
<link  href="/static/css/style.css">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>