<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
</head>
<body>
<div class="container-fluid">

<!--    头部导航栏-->
    <div class="row clearfix" th:fragment="top-bar(activeUri)">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" th:href="@{/}">NCUBBS</a>
                </div>

<!--                三个区域板块-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li th:class="${activeUri}=='topic.html'?'active':' '">
                            <a href="/topic">讨论区</a>
                        </li>
                        <li th:class="${activeUri}=='article.html'?'active':' '">
                            <a href="/article">文章区</a>
                        </li>
                        <li th:class="${activeUri}=='reward.html'?'active':' '">
                            <a href="/reward" >悬赏区</a>
                        </li>
                    </ul>
<!--                    搜索功能-->
                    <form class="navbar-form navbar-left" role="search" action="/search" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="str" />
                        </div> <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <!--右侧功能-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:href="@{/}">首页</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/new/topic">发布讨论</a>
                                </li>
                                <li>
                                    <a href="/new/article">发布文章</a>
                                </li>
                                <li>
                                    <a href="/new/reward">发布悬赏</a>
                                </li>
                                <li class="divider">
                                </li>
                            </ul>
                        </li>
                        <li th:if="${userID==null}">
                            <a href="/login" >登入/注册</a>
                        </li>
                        <li>
                            <a href="/quit">退出</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>


    <div class="row clearfix">
<!--        左侧个人信息栏-->
        <div class="col-md-3 info-page item-vertical-middle" th:fragment="showUserInfo">
<!--            放个人信息-->
            <div class="row clearfix" th:if="${session.userID!=null}">
                <div class="col-md-12 column">
                    <h4>欢迎！</h4>
                    <p class="text-center" th:utext="'<strong>'+${session.isAdmin?'管理员:':'用户:'}+'</strong>'+${session.userName}"></p>
                    <p class="text-center" th:text="'您的ID'+${session.userID}"></p>
                    <p class="text-center" th:text="'您的积分:'+${session.userPoints}"></p>
                </div>
            </div>

            <div class="row clearfix" th:if="${session.userID==null}">
                <div class="col-md-12">
                    <h4>欢迎!</h4>
                    <p class="text-center">游客</p>
                    <p class="text-center">发帖前请先登录，牢记自己的六位ID</p>
                </div>
            </div>
        </div>


<!--        展现区，切换板块只换这里的内容-->
        <div class="col-md-7" >
            <div class="alert alert-success alert-dismissable">
                <h4>BBS公告!</h4><hr class="hr25"/>
                <h5>在本论坛发言者默认已阅读并认可本规则。</h5><hr class="hr15"/>
                <ol type="1">
                    <li>请自觉遵守国家法律和互联网基本规则，不得发表任何政治性和违法言论，不得使用不文明的词语，不要发布会给阅读者带来严重不适或恐惧的文字;</li><hr class="hr8">
                    <li>不得散布不负责任的谣言；</li><hr class="hr8">
                    <li>不得发布毫无意义的空贴以及内容重复的帖子;</li><hr class="hr8">
                    <li>本站设有三个不同形式的区块，分别为：文章区、讨论区、发帖区，用户可根据自我需求选择相应区块发言；</li><hr class="hr8">
                    <li>在使用搜索功能时，请保证搜索内容的连贯性，可以少字，但不能多字错字</li><hr class="hr8">
                    <li>用户名管理规则，用户不得注册以下用户名<hr class="hr8">
                        <ol type="a">
                            <li>党和国家领导人的真实姓名、字号、笔名</li><hr class="hr8">
                            <li>国家机构或其他机构的名称</li><hr class="hr8">
                            <li>不文明、不健康之名字</li><hr class="hr8">
                            <li>易产生歧义、引起他人误解之名字，如“管理员”之类</li><hr class="hr8">
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>


<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    var message=[[${message}]];
    if (message!=null){
        alert(message);
    }
</script></body>
</html>