<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>



<div class="container-fluid" style="margin: 20px;">
    <form method="post" action="/add/reward">
        <div class="row clearfix">
            <div class="col-md-offset-2 col-md-8 column" >
                <div class="row">
                    <div class="col-md-7 column" >
                        <input type="text" name="title" class="form-control" placeholder="标题">
                    </div>
                    <div class="col-md-2 column">
                        <label for="points">悬赏积分：</label>
                    </div>
                    <div class="col-md-3 column">
                        <select class="form-control" name="points">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>
                <hr class="style-three"/>
                <div class="row ">
                    <div class="col-md-12 column">
                        <textarea class="form-control" rows="6" name="content"></textarea>
                    </div>
                </div>
                <hr class="hr25">
                <div class="row ">
                    <div class="col-md-2 column">
                        <input class="form-control btn btn-primary"  type="submit" value="发布">
                    </div>
                    <div class="col-md-offset-8 col-md-2 column">
                        <input class="form-control btn btn-info" type="button" href="/index" value="返回首页">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href="/css/style.css" rel="stylesheet">
<script>
    var message="[[${message}]]";
    if (message!=""){
        alert(message);
    }
</script></body>
</html>