<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
</head>
<body>
<div th:replace="index::top-bar(activeUri)"></div>
<div class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>ID</th>
                            <th>标题</th>
                            <th>发表时间</th>
                            <th th:if="${isAdmin}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="topic:${topicList}" >
                            <td>讨论</td>
                            <td th:text="${topic.getId()}"></td>
                            <td><a th:text="${topic.getTitle()}" th:href="@{/topicDetail(id=${topic.getId()})}"></a></td>
                            <td><p th:text="${topic.getCreateTime()}"></p></td>
                            <td th:if="${isAdmin}">
                                <a th:class="${topic.isTop()?'btn btn-warning':'btn btn-success'}" th:text="${topic.isTop()}?'取消置顶':'置顶'"></a>
                                <a th:class="${topic.isMarrow()?'btn btn-warning':'btn btn-primary'}" th:text="${topic.isMarrow()}?'取消加精':'加精'"></a>
                            </td>
                        </tr>
                        <tr th:each="article:${articleList}">
                            <td>文章</td>
                            <td th:text="${article.getId()}"></td>
                            <td><a th:text="${article.getTitle()}" th:href="@{/articleDetail(id=${article.getId()})}"></a></td>
                            <td><p th:text="${article.getCreateTime()}"></p></td>
                            <td th:if="${isAdmin}">
                                <a th:class="${article.isTop()?'btn btn-warning':'btn btn-success'}" th:text="${article.isTop()}?'取消置顶':'置顶'"></a>
                                <a th:class="${article.isMarrow()?'btn btn-warning':'btn btn-primary'}" th:text="${article.isMarrow()}?'取消加精':'加精'"></a>
                            </td>
                        </tr>
                        <tr th:each="reward:${rewardList}">
                            <td>悬赏</td>
                            <td th:text="${reward.getId()}"></td>
                            <td><a th:text="${reward.getTitle()}" th:href="@{/rewardDetail(id=${reward.getId()})}"></a></td>
                            <td><p th:text="${reward.getCreateTime()}"></p></td>
                            <td th:if="${isAdmin}">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    var message="[[${message}]]";
    if (message!=""){
        alert(message);
    }
</script></body>
</html>