<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论区</title>
</head>
<body>

<div class="container-fluid">

    <div th:replace="~{index::top-bar(activeUri='topic.html')}"></div>

    <div class="row clearfix">

        <div th:replace="~{index::showUserInfo}"></div>

        <div class="col-md-7" >

            <!--            置顶区-->
            <div class="row clearfix">
                <div class="col-md-12">

                    <div class="container-fluid  topic-content-box-index" th:each="topic:${topics}" th:if="${topic.isTop()}">
                        <div class="row clearfix item-vertical-middle">
                            <div class="col-md-8 ">
                                <h3 th:utext="'<strong>【顶置】</strong>'+*{topic.getTitle()}" class="text-max-line-2"></h3>
                                <p th:text="*{topic.getContent()}" class="text-max-line-2"></p>
                                <p>
                                    <a class="btn" th:href="@{/topicDetail(id=${topic.getId()})}">查看详情 »</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <em th:text="${topic.getUserID()}"></em>
                                <p th:text="${topic.getCreateTime()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            普通帖子区-->
            <div class="row clearfix">
                <div class="col-md-12">

                    <div class="container-fluid topic-content-box-index " th:each="topic:${topics}" th:if="!${topic.isTop()}">
                        <div class="row clearfix item-vertical-middle">
                            <div class="col-md-8 column">
                                <h3 th:text="${topic.getTitle()}" th:class="${topic.isMarrow()}?'text-danger text-max-line-2 ':'text-max-line-2'" ></h3>
                                <p th:text="*{topic.getContent()}" th:class="${topic.isMarrow()}?'text-danger text-max-line-2':'text-max-line-2'"></p>
                                <p>
                                    <a class="btn" th:href="@{/topicDetail(id=${topic.getId()})}">查看详情 »</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <em th:text="${topic.getUserID()}"></em>
                                <p th:text="${topic.getCreateTime()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    var message="[[${message}]]";
    if (message!=""){
        alert(message);
    }
</script></body>
</html>