<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column"> <!--正文-->
            <h2><!--标题-->

            </h2>
            <div><!--悬赏-->

            </div>
            <p><!--内容-->

            </p>
            <div><!--发布时间-->

            </div>
        </div>
    </div>
    <div class="row clearfix">  <!--回复-->
        <div class="container">  <!--用户回复框-->
            <div class="row clearfix">
                <div class="col-md-4 column"><!--回复人信息-->
                </div>
                <div class="col-md-8 column"><!--回复内容-->
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                        </div>
                    </div>
                    <div class="row clearfix"><!--提交按钮-->
                        <div class="col-md-12 column">
                            <button class="btn btn-default" type="button">提交</button><!--提交按钮-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 column"><!--已发布的回复-->
            <div class="row clearfix">
                <div class="col-md-12 column"><!--采纳；；若是创建者的未采纳悬赏；就显示“设为最佳按钮”，否则显示最佳回答-->

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 column"><!--回复人信息-->

                </div>
                <div class="col-md-8 column"><!--回复内容-->

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column"><!--回复时间-->

                </div>
            </div>
        </div>
    </div>
</div>
<link  th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>