<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-6 column">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{accountUpdate}">修改账户</a>
                    </li>
                    <li class="active">
                        <a th:href="@{userUpdate}">修改密码</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 column">
                <form role="form" th:action="@{/userUpdate}" method="post">
                    <div class="form-group">
                        <label for="oldpassword">旧密码</label>
                        <input class="form-control" id="oldpassword" name="oldpassword" type="password" required/>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">新密码</label>
                        <input class="form-control" id="newpassword" name="newpassword" type="password" required/>
                    </div>
                    <div class="form-group">
                        <label for="newpassword1">请确认新密码</label>
                        <input class="form-control" id="newpassword1" name="newpassword1" type="password" required/>
                    </div>
                    <button class="btn btn-default" type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<link  th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>