<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="~{index::top-bar(activeUri='article.html')}"></div>

    <div th:replace="~{common/temp::detailPageObj(obj=${obj})}"></div>

    <hr class="hr25"/>

    <div th:replace="~{common/temp::detailPageReplay(replays=${replays})}"></div>

    <div th:replace="~{common/temp::replay-form-bar(id=${obj.getId()},path_s='articleDetail',type='article')}"></div>
</div>

<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    var message="[[${message}]]";
    if (message!==""){
        alert(message);
    }
</script></body>
</html>