<!DOCTYPE html>
<!--suppress ALL-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
</head>
<body>
<div th:replace="index::top-bar(activeUri)"></div>
<div class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>ID</th>
                            <th>标题</th>
                            <th>发表时间</th>
                            <th th:if="${session.isAdmin}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="topic:${topicList}" >
                            <td>讨论</td>
                            <td th:text="${topic.getId()()}"></td>
                            <td><a th:text="${topic.getTitle()}" th:href="@{/topicDetail(id=${topic.getId()})}"></a></td>
                            <td><p th:text="${topic.getCreateTime()}"></p></td>
                            <td th:if="${session.isAdmin}">
                                <a th:class=" ${topic.isTop()?'btn btn-warning col-sm-3 ':'btn btn-success col-sm-3 '}"  th:text="${topic.isTop()}?'取消置顶':'  置  顶  '" th:href="${topic.isTop()}?'/cancelup/topic?id='+${topic.getUuid()}:'/up/topic?id='+${topic.getUuid()}"></a>
                                <a th:class=" ${topic.isMarrow()?'btn btn-warning col-sm-offset-1 col-sm-3 ':'btn btn-primary col-sm-offset-1 col-sm-3 '}" th:text="${topic.isMarrow()}?'取消加精':'  加  精  '"  th:href="${topic.isMarrow()}?'/cancelmarrow/topic?id='+${topic.getUuid()}:'/marrow/topic?id='+${topic.getUuid()}"></a>
                                <a class="btn btn-danger col-sm-offset-1 col-sm-3" th:text="删除" th:href="@{/delete/topic(id=${topic.getUuid()})}"></a>
                            </td>
                        </tr>
                        <tr th:each="article:${articleList}">
                            <td>文章</td>
                            <td th:text="${article.getId()()}"></td>
                            <td><a th:text="${article.getTitle()}" th:href="@{/articleDetail(id=${article.getId()})}"></a></td>
                            <td><p th:text="${article.getCreateTime()}"></p></td>
                            <td th:if="${session.isAdmin}">
                                <a th:class="${article.isTop()?'btn btn-warning col-sm-3 ':'btn btn-success col-sm-3 '}" th:text="${article.isTop()}?'取消置顶':'  置  顶  '"   th:href="${article.isTop()}?'/cancelup/article?id='+${article.getUuid()}:'/up/article?id='+${article.getUuid()}"></a>
                                <a th:class="${article.isMarrow()?'btn btn-warning col-sm-offset-1 col-sm-3 ':'btn btn-primary  col-sm-offset-1 col-sm-3 '}" th:text="${article.isMarrow()}?'取消加精':'  加  精  '" th:href="${article.isMarrow()}?'/cancelmarrow/article?id='+${article.getUuid()}:'/marrow/article?id='+${article.getUuid()}"></a>
                                <a class="btn btn-danger col-sm-offset-1 col-sm-3" th:text="删除" th:href="@{/delete/article(id=${article.getUuid()})}"></a>
                            </td>
                        </tr>
                        <tr th:each="reward:${rewardList}">
                            <td>悬赏</td>
                            <td th:text="${reward.getId()}"></td>
                            <td><a th:text="${reward.getTitle()}" th:href="@{/rewardDetail(id=${reward.getId()})}"></a></td>
                            <td><p th:text="${reward.getCreateTime()}"></p></td>
                            <td th:if="${session.isAdmin}">
                                <a class="btn btn-danger" th:text="删除" th:href="@{/delete/reward(id=${reward.getId()})}"></a>
                            </td>
                        </tr>
                        <tr th:each="replay:${replayList}">
                            <td>回复</td>
                            <td th:text="${replay.getId()}"></td>
                            <td><a th:text="${replay.getContent()}" th:href="@{${'/'+replay.getFromType()+'Detail'}(id=${replay.getFromId()})}"></a></td>
                            <td><p th:text="${replay.getCreateTime()}"></p></td>
                            <td th:if="${session.isAdmin}">
                                <a class="btn btn-danger" th:text="删除" th:href="@{/delete/replay(id=${replay.getId()})}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link  href="/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    var message="[[${message}]]";
    if (message!==""){
        alert(message);
    }
</script></body>
</html>